* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
}

input[type='range'] {
  accent-color: #00f7ff;
  cursor: pointer;
  height: 5px;

  &&:focus {
    outline: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

.navbar {
  height: 35px;
  width: 100%;
  display: flex;
  -webkit-app-region: drag;
  border-bottom: 1px solid #ffffff46;

  .section {
    flex: 1;
    height: 100%;

    .searchBar {
      -webkit-app-region: none;
      display: none;
      align-items: center;
      width: 70%;
      max-width: 100%;
      border: 1px solid #ffffff46;
      padding: 2px 5px;
      border-radius: 8px;
      position: relative;

      svg {
        color: white;
        height: 20px;
      }

      input {
        flex: 1;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        padding: 0px 5px;

        &&::placeholder {
          color: white;
        }
      }

      .clearSearchbtn {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
      }

      .info-list {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: 1px solid #ffffff46;
        padding: 10px;
        border-radius: 8px;
        z-index: 2;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        backdrop-filter: blur(10px);
        display: none;
        color: white;
        text-align: center;

        &&::-webkit-scrollbar {
          width: 5px;
        }

        &&::-webkit-scrollbar-thumb {
          background-color: #00f7ff;
        }

        &&::-webkit-scrollbar-track {
          background-color: transparent;
        }



        button {
          width: 100%;
          text-overflow: ellipsis;
          overflow-wrap: break-word;
          outline: none;
          border: none;
          cursor: pointer;
          padding: 10px;
          border: 1px solid #ffffff46;
          color: white;
          border-radius: 8px;
          background-color: #00000051;

          span {
            background-color: #00f7ff;
            color: black;
          }
        }
      }
    }
  }

  .section:nth-child(1) {
    color: #00f7ff;
    padding-left: 10px;
  }

  .section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      -webkit-app-region: none;
      border: none;
      height: 100%;
      width: 50px;
      background-color: transparent;
      color: white;
      transition: all 0.3s ease;
      cursor: pointer;
      outline: none;

      svg {
        height: 15px;
      }
    }

    button:hover {
      background-color: #272727;
    }

  }
}

.page {
  height: calc(100% - 35px);
  width: 100%;
  overflow: hidden;
}

.orbs {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;

  .orb {
    position: absolute;
    background-color: #00f7ff;
    filter: blur(200px);
    border-radius: 50%;
  }

  .orb:nth-child(1) {
    top: 20%;
    left: 20%;
    height: 200px;
    width: 300px;
  }

  .orb:nth-child(2) {
    top: 50%;
    left: 75%;
    height: 300px;
    width: 200px;
  }
}

.folderNotSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;


  h1 {
    color: #00f7ff;
    font-size: 70px;
    letter-spacing: 5px;
  }

  .select-file-folder-btn {
    position: relative;
    padding: 20px 40px;
    font-size: 30px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    .line {
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      height: 5px;
      background-color: #00f7ff;
      width: 0px;
      transition: all 0.5s ease;
    }
  }

  .select-file-folder-btn:hover {
    .line {
      width: 80%;
      box-shadow: 0px 0px 10px #00f7ff;
      border-radius: 20px;
    }
  }

  .recents {
    border: 1px solid #ffffff46;
    padding: 20px 50px;
    border-radius: 12px;
    display: none;
    max-width: 70%;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;

      svg {
        height: 20px;
      }
    }

    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    .folders {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      button {
        padding: 20px 50px;
        background-color: transparent;
        border: 1px solid #ffffff46;
        color: white;
        border-radius: 12px;
        cursor: pointer;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all 0.3s ease;

        &&:hover {
          background-color: #272727;
        }
      }
    }
  }
}

.mainPage {
  display: none;

  .filesPanel {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: calc(20% - 1px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    &&::-webkit-scrollbar {
      width: 5px;
    }

    &&::-webkit-scrollbar-thumb {
      background-color: #00f7ff;
    }

    &&::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .changeFolderBtn {
      flex: 0 0 auto;
      text-overflow: ellipsis;
      cursor: pointer;
      width: 100%;
      min-height: 50px;
      border: 1px solid #ffffff46;
      background-color: black;
      color: white;
      border-radius: 12px;
      overflow-wrap: break-word;
      padding: 20px;
    }

    .fileBtn {
      flex: 0 0 auto;
      text-overflow: ellipsis;
      cursor: pointer;
      width: 100%;
      min-height: 50px;
      border: 1px solid #ffffff46;
      background-color: transparent;
      color: white;
      border-radius: 12px;
      overflow-wrap: break-word;
      padding: 20px;
    }

    .fileBtnSelected {
      outline: 2px solid #00f7ff;
      box-shadow: 0px 0px 10px #00f7ff;
    }
  }

  .sperator {
    height: 100%;
    width: 1px;
    background-color: #ffffff46;
    cursor: col-resize;
    /* transition: all 0.3s ease;

    &&:hover {
      width: 5px;
    } */
  }

  .videoPlayer {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    overflow: hidden;

    h2 {
      color: white;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 50%;
      overflow-wrap: break-word;
      z-index: 1;
    }

    .row {
      width: 100%;
    }

    .video {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      max-height: 100%;

      video {
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
      }

      .playPauseBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        cursor: pointer;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        background-color: #2a2a2a71;
        backdrop-filter: blur(5px);
        border: none;
        transition: all 0.3s ease;

        svg {
          height: 70px;
        }
      }

      .controlls {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 5px 10px;
        background-color: #2a2a2a71;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all 0.3s ease;
        opacity: 0;
        transform: translateY(100%);

        .seek {
          margin-top: 10px;
          display: flex;
          cursor: pointer;
          align-items: center;
          gap: 5px;

          .timeline {
            flex: 1;
          }

          span {
            color: white;
            font-size: 12px;
          }
        }

        .buttonControlls {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .box {
            display: flex;
            align-items: center;
            gap: 15px;
          }

          button {
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;

            svg {
              height: 25px;
            }
          }

          select {
            padding: 4px 12px;
            background-color: transparent;
            color: white;
            outline: none;
            border-radius: 8px;
            cursor: pointer;
            accent-color: #00f7ff;
            height: 35px;
            text-overflow: ellipsis;
            overflow: hidden;
            overflow-wrap: break-word;


            &&::picker(select) {
              background-color: #00000051;
              border-radius: 8px;
              padding: 10px;
              backdrop-filter: blur(10px);
              border: none;
              min-width: 100px;

            }

            &&::picker-icon {
              display: none;
            }

            option {
              color: white;

              &&::checkmark {
                content: "☑️";
                color: green;
              }
            }
          }

          select,
          ::picker(select) {
            appearance: base-select;
          }
        }
      }
    }
  }
}